DEBUG=true
DISABLE_SECURITY=false
BASE_URL=http://localhost:3000
JWT_SECRET_KEY=YOUR-JWT-SECRET-KEY-HERE-MUST-BE-32-CHARS-MIN
JWT_ALGORITHM=HS256
OSU_CLIENT_ID=your-osu-client-id
OSU_CLIENT_SECRET=your-osu-client-secret
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=YOUR-POSTGRESQL-PASSWORD-HERE
POSTGRESQL_DATABASE=graveboards_dev
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
