# Instance
instance/

# Dotenv
.env
.env.test

# Python virtual environment
.venv/
venv/

# IDE Project Files
.idea/
.vscode/

# Pycache
**/__pycache__/

# Coverage
.coverage

# Specification cache
api/v1/spec/.spec_cache.pkl

# pytest
.pytest_cache/
