x-app-base: &app-base
    image: graveboards-backend:latest
    env_file:
        - ./.env.docker
    volumes:
        - ./instance:/app/instance
    networks:
        - web
    depends_on:
        - graveboards-postgresql-dev
        - graveboards-redis-dev

services:
    graveboards-redis-dev:
        image: docker.io/bitnami/redis:latest
        container_name: graveboards-redis-dev
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
        volumes:
            - graveboards-redis-dev-data:/bitnami/redis
        networks:
            - web

    graveboards-postgresql-dev:
        image: docker.io/bitnami/postgresql:latest
        container_name: graveboards-postgresql-dev
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
        volumes:
            - graveboards-postgresql-dev-data:/bitnami/postgresql
        networks:
            - web

    graveboards-backend:
        <<: *app-base
        container_name: graveboards-backend
        build:
            context: .
        ports:
            - "8000:8000"
        environment:
            ENV: "dev"

    graveboards-manage:
        <<: *app-base
        container_name: graveboards-manage
        environment:
            ENV: "dev"
            QUIET: "true"
        profiles:
            - tools

volumes:
    graveboards-redis-dev-data:
    graveboards-postgresql-dev-data:

networks:
    web:
        driver: bridge